/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* global styling for sticky footer*/
html,
body,
app-root {
  height: 100%;
}
body {
  margin-bottom: 0;
  margin-top: 0;
}

.hidden {
  display: none;
}
.container-init {
  /* max-width: 1000px; */
  padding: 30px 100px;
}

.btn {
  padding: 4px 12px;
  border-radius: 10px;
}
hr {
  color: rgb(194, 194, 194);
}

.btn-second {
  background-color: rgb(255, 192, 1);
  border: 0px;
  color: black;
  /* font-family: "Kalam", cursive; */
  -webkit-box-shadow: 1px 1px 21px 0px rgba(44, 44, 45, 1);
  -moz-box-shadow: 1px 1px 21px 0px rgba(44, 44, 45, 1);
  box-shadow: 1px 1px 3px 0px rgba(44, 44, 45, 1);
}

@media screen and (max-width: 500px) {
  .container-init {
    padding: 30px 12px;
  }
}
