.title-box {
  font-family: "Chewy", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
  /* nth */
}

.navbar-brand {
  color: rgb(255, 192, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 12vw;
  padding: 8px;
}

.txt-black {
  font-family: "Chewy", cursive;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-primary {
  font-family: "Chewy", cursive;
  font-size: 4vw;
  color: rgb(255, 192, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  padding: 8px;
}

.arrow {
  width: 4vw;
  height: 4vw;
  margin-left: 1%;
  color: rgb(255, 192, 1);
}

.action {
  transition: 1s ease-out;
  cursor: pointer;
  /* nth */
}

.action:hover {
  transform: scale(1.1);
}
