<!-- <div class="container-fluid">
  <br />
  <div class="container-feed-grid">
    <div class="card item-grid" *ngFor="let restaurant of restaurantsAll">
      <img
        class="card-img-top"
        src="{{ restaurant?.photo?.images?.original?.url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name | slice : 0 : 25 }}</h5>
        <p class="card-text">
          {{ restaurant?.description | slice : 0 : 100 }}
        </p>
        <a class="btn btn-primary" (click)="onRestaurantClick(restaurant)"
          >Make an order</a
        >
      </div>
    </div>
  </div>
</div> -->
