.container-init {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  margin: 0px 12px 0px 12px;
}

.auth-form-test {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
}

.auth-form-test p {
  padding: 4px;
  margin: 0px;
  margin-right: 12px;
}

.btn-box {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .container-init {
    display: block;
  }

  .auth-form,
  .auth-form-test {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0px;
    box-shadow: none !important;
  }

  .auth-form {
    height: 350px;
  }
}
