.container-init {
  display: flex;
  justify-content: space-between;
}

.loading-mode {
  display: flex;
  justify-content: center;
}

.item-image-box {
  width: 150px;
  height: 150px;
}

.grid {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 18px;
  row-gap: 18px;
}

.delivery-box {
  height: 21px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 192, 1);
  border-radius: 5px;
  width: 25%;
}

.delivery-box h5 {
  font-family: "Kalam", cursive;
  margin: 0px;
  font-size: 14px;
  margin-left: 4px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

div.card-box {
  height: 80px;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.details-box {
  width: 1000px;
  margin-bottom: 18px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(220, 220, 220, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(220, 220, 220, 1);
  box-shadow: 8px 8px 24px 0px rgba(220, 220, 220, 1); */
}

.item:hover {
  background-color: #fafafa;
}

.cart-svg-box {
  height: 100%;
  padding: 23px;
}

svg.bi.bi-plus {
  margin: 0px;
  padding: 0px;
  color: #e3e3e3;
}

.item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 5px 5px 20px;
}

.item-info {
  margin-right: 18px;
  margin-left: 18px;
}

.item-info-second {
  align-self: flex-end;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-box {
  width: 600px;
}

.flex-grow {
  flex-grow: 1;
}

.quantity-box {
  display: flex;
  align-items: center;
}

.quantity-value {
  font-size: 25px;
  margin-right: 9px;
}

.bi {
  margin-right: 9px;
  cursor: pointer;
}

.card-alike-style {
  border: solid 1px rgb(241, 241, 241);
  border-radius: 20px;
}

.background-grid {
  background-color: rgb(191, 190, 190);
}

.restaurant-name-box {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  position: absolute;
}

.restaurant-name {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 12px rgb(0, 0, 0);
}

.account-image {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .delivery-box h5 {
    font-size: 11px;
  }

  .card,
  .card-img-top {
    border-radius: 0px;
    border: 0px;
  }

  img.card-img-top {
    max-height: 220px;
  }

  .grid {
    margin: 0px 12px 0px 12px;
  }

  .item {
    background-color: #fff;
  }

  .container-init {
    padding: 0px;
  }

  .item-image-box {
    width: 80px;
    height: 80px;
  }
  .item-image {
    width: 80px;
    height: 80px;
  }
  .item-info h3,
  h4 {
    font-size: 15px;
  }
  .item-grid {
    height: 300px;
  }

  .restaurant-name {
    font-size: 35px;
  }

  .account-image {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;
  }
}

@media screen and (max-width: 770px) {
  .grid {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .cart-box {
    display: none;
  }
}
