<div class="nav-box">
  <!-- search bar filter -->
  <input
    #searchBar
    name="searchBar"
    class="form-control search-bar"
    type="search"
    placeholder="Search for restaurants..."
    aria-label="Search"
    (input)="onChange(searchBar)"
  />

  <div class="type-box">
    <!-- pizza -->
    <div
      #itemPizza
      name="pizza"
      class="item pizza"
      (click)="activateItemFilter(itemPizza, 'pizza')"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/6978/6978255.png"
        alt=""
      />
      pizza
    </div>

    <!-- burger -->
    <div
      #itemBurger
      name="burger"
      class="item burger"
      (click)="activateItemFilter(itemBurger, 'burger')"
    >
      <img src="https://cdn-icons-png.flaticon.com/512/198/198416.png" alt="" />
      burger
    </div>

    <!-- kebab -->
    <div
      #itemKebab
      name="kebab"
      class="item kebab"
      (click)="activateItemFilter(itemKebab, 'kebab')"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/2836/2836575.png"
        alt=""
      />
      kebab
    </div>

    <!-- asian -->
    <div
      #itemAsian
      name="asian"
      class="item asian"
      (click)="activateItemFilter(itemAsian, 'asian')"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/1046/1046791.png"
        alt=""
      />
      asian
    </div>
  </div>
</div>
