<app-navbar></app-navbar>
<div class="box-outer">
  <div class="box-inner">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

  <!-- <div class="container-fluid container-init">
    <div class="box-spinner">
      <div class="sr-only spinner-border spinner" role="status"></div>
    </div>
    <h5>Server is getting started, please wait about 1 minute.</h5>
    <h6>
      server is deployd on Render.com and it gets shut down due to inactivity.
    </h6>
  </div> -->
</div>

<div class="box-footer">
  <div class="content-footer">
    <app-footer></app-footer>
  </div>
</div>
