@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.navbar {
  height: 70px;
}

.title-box {
  font-family: "Chewy", cursive;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* nth */
}

.navbar-brand {
  color: rgb(255, 192, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 25px;
  margin: 0px;
}

.icon {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}

.container-fluid {
  padding: 0px 100px;
}

.container-fluid {
  flex-wrap: nowrap;
}

.btn {
  margin-left: 12px;
  /* font-family: "Kalam", cursive; */
}

.btn-second {
  background-color: rgb(255, 192, 1);
  border: 0px;
  color: black;
  -webkit-box-shadow: 1px 1px 21px 0px rgba(44, 44, 45, 1);
  -moz-box-shadow: 1px 1px 21px 0px rgba(44, 44, 45, 1);
  box-shadow: 1px 1px 3px 0px rgba(44, 44, 45, 1);
}

.sign-out {
  display: flex;
  align-items: center;
}

.sign-out p {
  margin: 0;
}

.dropdown-item-style {
  cursor: pointer;
}

.dp-style {
  width: 190px;
}

.bi-dropdown {
  margin-right: 4px;
}

.bi-navi {
  margin-right: 12px;
  cursor: pointer;
}

.btn-style {
  width: 25px;
  height: 25px;
  margin-right: 18px;
}

.box-dp {
  display: flex;
  align-items: center;
  /* font-family: "Kalam", cursive; */
}

.box-dp svg {
  margin-right: 12px;
}

@media screen and (max-width: 500px) {
  .container-fluid {
    padding: 0px 12px;
  }
}
