section {
  padding: 0px;
  margin: 12px 0px 12px 0px;
}

h1,
h2 {
  padding: 0px 8px 0px 8px;
}

.container-init {
  padding: 0px 0px 0px 12px;
}

.reset-padding {
  padding: 0px;
}

.cart-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.cart-navbar h1 {
  padding: 0px;
  margin: 0px;
  margin-right: 18px;
}

.restaurant-navbar {
  padding: 12px 0px 0px 12px;
  margin: 0px;
}

.img-cart-box {
  width: 150px;
  height: 150px;
  padding: 0px;
  border: solid 1px rgb(237, 237, 237);
  border-radius: 18px 18px 18px 18px;
}

.img-cart-box-sidebar {
  width: 80px;
  height: 80px;
  padding: 0px;
  border: solid 1px rgb(237, 237, 237);
  border-radius: 18px 18px 18px 18px;
}

.img-cart {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 18px 18px 18px 18px;
}

.img-cart-sidebar {
  width: 80px;
  height: 80px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 18px 18px 18px 18px;
}

.item-info {
  display: flex;
  flex-direction: row;
}

.item-name {
  margin-left: 18px;
}

.item-name div {
  max-width: 100px;
}

.quantity-box {
  display: flex;
  align-items: center;
}

.quantity-value {
  font-size: 25px;
  margin-right: 9px;
}

.bi {
  margin-right: 9px;
  cursor: pointer;
}

.price-style {
  font-size: 25px;
}

.title-box {
  font-family: "Chewy", cursive;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* nth */
}

.navbar-brand {
  color: rgb(255, 192, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 45px;
  margin: 0px;
  margin-right: 12px;
}

.quantity-sidebar {
  font-size: 23px;
  margin: 0px;
  margin-right: 9px;
}

.container-box {
  display: flex;
  justify-content: center;
}

.test-info-box {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  box-shadow: 8px 8px 24px 0px rgba(216, 216, 216, 1);
  margin: 0px 12px 0px 12px;
  margin-bottom: 30px;
  padding: 12px;
}

.test-info-box h1 {
  align-self: center;
  margin-bottom: 30px;
}

.test-info-item {
  margin-bottom: 18px;
}

.dropdown-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}

.bi-arrow-style {
  margin-left: 9px;
  margin-top: 9px;
}

.dropdown-info h2 {
  padding: 0px;
  margin: 0px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  section {
    width: 100%;
  }

  .container-init {
    padding: 0px;
  }

  .container.mob {
    padding: 12px;
  }

  .mob {
    margin: 0px;
    padding: 0px;
  }

  h4 {
    font-size: 17px;
  }

  .test-info-box {
    width: 90vw;
    margin: 0px;
  }
}

@media screen and (max-width: 770px) {
  .img-cart-box {
    width: 100px;
    height: 100px;
  }

  .img-cart {
    width: 100px;
    height: 100px;
  }

  .price-style,
  .quantity-value {
    font-size: 18px;
    font-weight: 400;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}
